<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/prism.css') }}" rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/base.css') }}" rel='stylesheet' type='text/css'>
  {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="content">
    {% block page_content %}{% endblock %}
  </div>
  <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>