<!DOCTYPE html>
<html>
<head>
  <title>{{ title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/pure-min.css">
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.5.0/grids-responsive-min.css">
  <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/prism.css') }}" rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='css/base.css') }}" rel='stylesheet' type='text/css'>
  {% block extra_css %}{% endblock %}
</head>
<body>
  <div class="header">
    <div class="pure-menu pure-menu-open pure-menu-horizontal">
      <ul>
        <li><a class="brbongco" href="/">brbongco.com</a></li>
        <li><a href="/">Home</a></li>
        <li><a href="#">Blog</a></li>
        <li><a href="#">Notebook</a></li>
        <li><a href="#">About Me</a></li>
      </ul>
    </div>
  </div>
  <div class="banner"></div> 
  <div class="pure-g content">
    <div class="pure-u-1 pure-u-md-3-4 main_content">
      <div id="dynamic_content">
        {% block page_content %}{% endblock %}
      </div>
    </div>

    <div class="pure-u-1 pure-u-md-1-4 main_about">
      <div class="side_about">
        <p class="non-heading">About Me</p>
        <hr>
        <div class="short_about">
          <img id="me" class="pure-img" src="{{ url_for('static', filename='img/beato.jpg') }}">
          <p>Welcome to my humble abode on the interwebs!</p>
          <p>My name is Beato Bongco and I'm a software engineer based in Quezon City, Philippines.</p>
          <p>I write about programming, design, lifting, personal philosophy and of course the quintessential topic &#8212; life.</p>
          <p>Thanks for stopping by!</p>
          <div class="social-media-cont">
            <a class="social-media" href="https://www.facebook.com/beatobongco"><img class="pure-img" src="{{ url_for('static', filename='img/facebook.png') }}"></a>
            <a class="social-media" href="https://github.com/beatobongco"><img class="pure-img" src="{{ url_for('static', filename='img/github.png') }}"></a>
            <a class="social-media" href="https://www.linkedin.com/pub/beato-bongco/44/858/96a"><img class="pure-img" src="{{ url_for('static', filename='img/linkedin.png') }}"></a>
          </div>
        </div>
      </div><!-- side_about -->
    </div>
  </div>
  <div class="footer">
  <hr>
  <span>© 2014 Beato Bongco</span>
  </div>
  <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/marked/0.3.1/marked.min.js"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='js/prism.js') }}"></script>
  {% block extra_js %}{% endblock %}
</body>
</html>