*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  /*background-color: #ecf0f1;*/
}

h1 {
  line-height: initial;
}

div.banner {
  position: relative;
  height: 200px;
  background-image: url(../img/banner.jpg);
  background-position: center; 
  background-size: cover;
  background-repeat: no-repeat;
  -moz-box-shadow: inset 0 -15px 15px -15px,
                    inset 0 15px 15px -12px;
  -webkit-box-shadow: inset 0 -15px 15px -15px,
                      inset 0 15px 15px -12px;
  box-shadow: inset 0 -15px 15px -15px,
              inset 0 15px 15px -12px;
}

.pure-g [class *="pure-u"]{
  font-family: 'Source Sans Pro';
}

div.header {
  font-family: 'Source Sans Pro';
  color: #34495e;
  /*padding: 0 10%;*/
  text-align: center;
  background-color: #fff;
}

div.header h1 {
  margin: 0;
}

code {
  font-family: "Source Code Pro";
  font-size: 0.8em;
  text-rendering: optimizeLegibility;
}

div.content a {
  text-decoration: none;
  color: #2980b9;
}

div.content a:hover {
  text-decoration: underline;
}

div.content {
  margin-left: 10%;
  margin-right: 10%;
}

div.footer {
  font-size: 0.9em;
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 10px;
  font-family: 'Source Sans Pro';
  color: #34495e;
}

div.footer span {
  margin-right: 15px;
}

div.side_about {
  margin-top: 10px; 
}

div.short_about {
  font-size: 0.9em;
  padding-left: 10%;
  padding-right: 10%;
}

.short_about p {
  max-width: 360px;
  margin-left: auto;
  margin-right: auto; 
}

a.brbongco {
  font-weight: bold;
  font-size: 2em;
}

.non-heading {
  font-size: 1.5em;
  font-weight: bold;
  color: #2c3e50;
  margin-bottom: 0;
}

.non-heading-post {
  margin-bottom: 12px; 
}

hr {
  color: #7f8c8d;
}

img#me {
  border-radius: 5em;
  border: 1px solid #bdc3c7;
  margin-left: auto;
  margin-right: auto;
}

a.social-media {
  display: inline-block;
}

div.social-media-cont {
  text-align: center;
}

hr.small {
  max-width: 39em !important; 
}

span.article_category {
  padding: 2px 5px;
  border-radius: 10px;
  color: #fff;
  font-family: 'Source Sans Pro';
  font-size: 0.85em;
  background-color: #2980b9;
}

div.dynamic_content {
  font-family: 'Source Sans Pro';
  color: black;
  margin-right: 10%;
}

span.notes {
  background-color: #27ae60;
}

img {
  max-width: 100%;
}

@media (max-width: 700px) {
  .brbongco-container {
    display: block !important;
  }
}

@media (max-width: 380px) {
  .pure-menu li a {
    padding: 5px 10px !important;
  }
}