{% extends "base.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/pages.css') }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_content %}
<p class="non-heading non-heading-post">Under construction &mdash; forever</p>
<hr>
<div class="page_content">
  <p>In the extreme edge case that someone wants to know more about the creation of this small but constantly expanding website (or in the even edgier case, more about me), I created this page. </p>
  <p>Congratulations! You are one of the few, one of the proud. There's not much here yet, but that will change soon enough.</p>
</div>
{% endblock %}