{% extends "base.html" %}

{% block extra_css %}
<link href="{{ url_for('static', filename='css/pages.css') }}" rel='stylesheet' type='text/css'>
{% endblock %}

{% block page_content %}
  {% if editable %}
    <a class='btn-edit' href="{{ request.base_url + '/edit' }}"><button class="pure-button pure-button-primary">Edit</button></a>
    <hr>
  {% endif %}
  <p class="non-heading">{{article.created | get_date}}</p>
  <hr>
  <div class="page_content"> 
    <h1>{{article.title}}</h1>
    <p class="article_date">Posted under 
    {% for category in article.category | split_comma %}
      {% if loop.last %}
        <span class="article_category {{ category }}">{{ category }}</span>
      {% else %}
        <span class="article_category {{ category }}">{{ category }}</span><span>,</span>
      {% endif %}
    {% endfor %}
    </p>
    <img class="article_image" src="{{ article.image }}">
    <div class="article_body">
      {{ article.body | mistunify | safe}}
    </div>
  </div>
{% endblock %}