#page_content {
  font-family: 'Source Sans Pro';
  color: #34495e;
  text-rendering: optimizeLegibility;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  line-height: 1.45455em;
  width: 39em;
  /*padding: 25px;
  background-color: #fff;*/
}

/*h1:first-child::after {
  content: " ";
  display: block;
  border-bottom: 1px solid #7f8c8d;
}*/