#page_content {
  font-family: 'Source Sans Pro';
  color: #34495e;
  text-rendering: optimizeLegibility;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.1em;
  line-height: 1.45455em;
  max-width: 39em;
}

a#btn-edit {
  display: block;
  width: 39em;
  margin: 10px auto;
  text-align: right;
}